* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.section {
    height: 100vh;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
}

.picture {
    position: relative;;
    left: 60%;
    top: 20%;
    width:50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: whitesmoke;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: rgb(65, 217, 255);
    transition: .4s;
}

.btn {
    background-color: aquamarine;
    color: black;
    text-decoration:none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}


.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: aquamarine;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: whitesmoke;
    font-size: 25px;
    margin-bottom: 50px;
}

section h2 {
    font-size: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

section p {
    font-size: 20px;
    padding-left: 30px;
}
p {
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 20px;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: black;
}

.about img {
    height:auto;
    width: 430px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tittle h2 {
    color:aliceblue;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: black;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}


.card h4 {
    color: rgb(137, 210, 211);
    font-size: 22px;
}


.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: aqua;
}

h5{
    color: aliceblue;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #fcfcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: aquamarine;
    color: blue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid aqua;
    cursor: pointer;
}

.contact-me {
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p{
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two {
    background-color: aquamarine;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid aqua;
    cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: #fcfcfc;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color:#fcfcfc;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: aquamarine;
    border-radius: 50%;
    margin: 22px 10px;
    color: #191919;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end {
    position: absolute;
    color: aquamarine;
    bottom: 35px;
    font-size: 14px;
}

.g-end {
    position: absolute;
    color: aquamarine;
    font-size: 15px;
    top: 300px;
}